/*font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Orbitron', sans-serif;*/

html,
button {
	font-family: "Amatic SC", cursive;
	font-size: 30px;
}

h1 {
	font-size: 100px;
	text-align: center;
}

.difficulty {
	margin-bottom: 40px;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 20px;
}

content {
	display: flex;
	justify-content: center;
}

.boards {
	flex-direction: column;
	margin-bottom: 6%;
	font-size: 0;
}

ul {
	display: flex;
	flex-direction: column;
	order: 2;
	list-style: none;
	margin-left: 5%;
}

button {
	cursor: pointer;
	outline: 0;
}

.btn {
	width: 200px;
	height: 75px;
	border-radius: 15px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-right: 10%;
	align-content: center;
}

#classic-btn {
	border: 3px solid #674620;
	background-color: #d9d1c7;
	font-size: 50px;
}

#numbers-btn {
	border: 3px solid magenta;
	background-color: rgba(61, 248, 32, 0.81);
	font-family: "Orbitron", sans-serif;
	font-size: 30px;
}

#cats-btn {
	border: 3px solid white;
	background-color: green;
	font-family: "Poiret One", cursive;
	font-size: 35px;
}

.game-board {
	width: fit-content;
	border-radius: 20px;
}

#main-game {
	padding: 25px;
}

#choices-board {
	padding: 15px;
	position: fixed;
	bottom: 0;
}

.choices {
	margin: 0 7px;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	outline: 0;
}
.choices:active {
	border: 2px solid white;
}

.pegspace,
.space {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	background-image: url("../img/black circle.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.6;
}

.pegspace {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid black;
}

.pegspace.pegColorBlack {
	background-color: black;
	opacity: 1;
}

.pegspace.pegColorWhite {
	background-color: white;
	opacity: 1;
}

.next-level,
.last-level {
	display: none;
}
