/*font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Orbitron', sans-serif;*/

html,
button {
	font-family: "Amatic SC", cursive;
	font-size: 30px;
}

h1 {
	font-size: 100px;
	text-align: center;
}

.difficulty {
	margin-bottom: 40px;
	text-align: center;
}

content {
	display: flex;
	justify-content: center;
}

.boards {
	flex-direction: column;
	margin-bottom: 6%;
	font-size: 0;
}

ul {
	display: flex;
	flex-direction: column;
	order: 2;
	list-style: none;
	margin-left: 5%;
}

button {
	cursor: pointer;
	outline: 0;
}

.btn {
	width: 200px;
	height: 75px;
	border-radius: 15px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-right: 10%;
	align-content: center;
}

#classic-btn {
	border: 3px solid #674620;
	background-color: #d9d1c7;
	font-size: 50px;
}

#numbers-btn {
	border: 3px solid magenta;
	background-color: #3becb1;
	font-family: "Orbitron", sans-serif;
	font-size: 35px;
}

#cats-btn {
	border: 3px solid white;
	background-color: green;
	font-family: "Poiret One", cursive;
	font-size: 35px;
}

.classic {
	background-image: url("img/sand.jpg");
	background-size: cover;
}

.game-board {
	width: fit-content;
	border-radius: 20px;
	background-image: url("img/wood.jpg");
}

#main-game {
	padding: 25px;
}

.pegspace {
	opacity: 0.6;
	width: 15px;
}

#choices-board {
	padding: 15px;
	position: fixed;
	bottom: 0;
}

.choices {
	margin: 0 7px;
	background-color: transparent;
	border: none;
	background-image: url("img/spheres-spritesheet.png");
	background-repeat: no-repeat;
	background-size: 200px;
	height: 50px;
	width: 50px;
	outline: 0;
	border: 2px solid white;
	border-radius: 50%;
}

.space {
	background-color: transparent;
	border: none;
	background-image: url("img/black circle.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.6;
	width: 50px;
	height: 50px;
}

.space.filled {
	background-image: url("img/spheres-spritesheet.png");
	background-size: 200px;
	opacity: 1;
}

.space.red,
#red-sphere {
	background-position: -78px -210px;
}

.space.blue,
#blue-sphere {
	background-position: -10px -11px;
}

.space.yellow,
#yellow-sphere {
	background-position: -10px -77px;
}

.space.green,
#green-sphere {
	background-position: -144px -144px;
}

.space.orange,
#orange-sphere {
	background-position: -77px -144px;
}

.space.purple,
#purple-sphere {
	background-position: -10px -144px;
}

.space.magenta,
#magenta-sphere {
	background-position: -77px -77px;
}

.space.cyan,
#cyan-sphere {
	background-position: -144px -10px;
}

.space.white,
#white-sphere {
	background-position: -77px -10px;
}

.space.black,
#black-sphere {
	background-position: -144px -77px;
}

.next-level,
.last-level {
	display: none;
}
